<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div th:replace="fragments :: navbar-admin"></div>
<div class="page">
    <h1>Admin panel</h1>
    <div th:if="message">
        <h1 style="text-align: center" th:text="${message}"> </h1>
    </div>
    <h2>Statistics</h2>
    <div class="grid-two">
      <div>
          <h4>Selected period</h4>
          <form th:action="@{/admin/period}" method="get">
              <label for="dateFrom">From</label>
              <input type="date" name="dateFrom" id="dateFrom" required>
              <label for="dateTo">To</label>
              <input type="date" name="dateTo" id="dateTo" required>
              <button type="submit"> Show </button>
          </form>

          <h4>Selected day</h4>
          <form th:action="@{/admin/day}" method="get">
              <label for="selectedDay">Select a day</label>
              <input type="date" name="selectedDay" id="selectedDay" required>
              <button type="submit"> Show </button>
          </form>

          <h4>Selected month</h4>
          <form th:action="@{/admin/month}" method="get">
              <label for="selectedMonth">Select a month</label>
              <input type="month" name="selectedMonth" id="selectedMonth" required>
              <button type="submit"> Show </button>
          </form>
      </div>
      <div th:if="${statsType}">
          <h2 th:text="${statsType}"></h2>
          <h4>Orders</h4>
          <p th:text="'Ticket price: '+ ${ticketPrice}+' PLN'"></p>
          <p th:text="'Number of Orders: '+ ${numOfOrders}"></p>
          <p th:text="'Money earned: '+ ${#numbers.formatDecimal(moneyEarned, 1, 2, 'COMMA')} + ' PLN'"></p>
          <p th:text="'Earnings per customer: '+ ${#numbers.formatDecimal(earnings, 1, 2, 'COMMA')}+' PLN'"></p>
          <p th:text="'Sold seats: '+ ${numOfSeats}"></p>
          <h4>Movies</h4>
          <p th:text="'Number of Screenings: '+ ${numOfScreenings}"></p>
          <p th:text="'Movies shown: '+ ${numOfMovies}"></p>
          <p th:text="'Most popular movie: '+ ${mostPopular}"></p>
          <h4>Users</h4>
          <p th:text="'Users registered: '+ ${numOfUsers}"></p>
      </div>
  </div>

  <div>
      <h2>Movies</h2>
      <form action="/movieForm" method="get">
          <button type="submit">Add Movie</button>
      </form>
      <ol>
          <li th:each="movie : ${movies}">
              <p th:text="${movie.getTitle()}"></p>
              <a th:href="@{'/movieForm/' + ${movie.id}}"><button>Edit</button></a>
              <a th:href="@{'/remove-movie/' + ${movie.id}}"><button>Remove</button></a>
          </li>
      </ol>

      <h2>Screenings</h2>
      <form action="/screeningsForm" method="post">
          <button type="submit">Add Screening</button>
      </form>
      <ol>
          <li th:each="screening : ${screenings}">
              <p th:text="${screening.getMovie().getTitle() + ', ' + screening.getDateAndTime()}"></p>
              <a th:href="@{'/screeningsForm/' + ${screening.getScreeningId()}}"><button>Edit</button></a>
              <a th:href="@{'/remove-screening/' + ${screening.getScreeningId()}}"><button>Remove</button></a>
          </li>
      </ol>

  </div>


</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>