<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
  <h1>Admin panel</h1>

  <h3>Statistics</h3>
  <div class="grid-two">
      <div>
          <h4>Selected period</h4>
          <label>
              <span>From</span>
              <input type="date">
              <span>To</span>
              <input type="date">
          </label>
          <h4>Per day</h4>
          <label>
              <span>Select a day</span>
              <input type="date">
          </label>
          <h4>Per month</h4>
          <label>
              <span>Select a month</span>
              <input type="month">
          </label>

      </div>
      <div>
          <p th:text="'Number of Orders: '+ ${numOfOrders}"></p>
          <p th:text="'Number of Screenings: '+ ${numOfScreenings}"></p>
          <p th:text="'Movies shown: '+ ${numOfMovies}"></p>
          <p th:text="'Most popular movie: '+ ${mostPopular}"></p>
          <p th:text="'Sold seats: '+ ${numOfSeats}"></p>
          <p th:text="'Money earned: '+ ${moneyEarned} + ' PLN'"></p>
          <p th:text="'Earnings per customer: '+ ${earnings}+' PLN'"></p>
          <p th:text="'Average percent of taken seats: '+ ${percentOfSeats}+'%'"></p>
          <p th:text="'Users registered: '+ ${numOfUsers}"></p>
      </div>
  </div>

  <div>
      <h3>Movies</h3>
      <form action="/movieForm" method="get">
          <button type="submit">Add Movie</button>
      </form>
      <ol>
          <li th:each="movie : ${movies}">
              <p th:text="${movie.getTitle()}"></p>
              <a th:href="@{'/movieForm/' + ${movie.id}}"><button>Edit</button></a>
              <a th:href="@{'/remove-movie/' + ${movie.id}}"><button>Remove</button></a>
          </li>
      </ol>

      <h3>Screenings</h3>
      <form action="/screeningsForm" method="post">
          <button type="submit">Add Screening</button>
      </form>
      <ol>
          <li th:each="screening : ${screenings}">
              <p th:text="${screening.getMovie().getTitle() + ', ' + screening.getDateAndTime()}"></p>
              <a th:href="@{'/screeningsForm/' + ${screening.getSeansId()}}"><button>Edit</button></a>
              <a th:href="@{'/remove-screening/' + ${screening.getSeansId()}}"><button>Remove</button></a>
          </li>
      </ol>

  </div>



</body>
</html>