<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
  <h1>Admin panel</h1>
  <div>
      <h3>Movies</h3>
      <button>Add Movie</button>
      <ol>
          <li>
              <p>movie title</p>
              <button>Edit</button>
              <button>Remove</button>
          </li>
      </ol>

      <h3>Screenings</h3>
      <button>Add Screening</button>
      <ol>
          <li>
              <p>movie title, date</p>
              <button>Edit</button>
              <button>Remove</button>
          </li>
      </ol>
  </div>
  <h3>Statistics</h3>
    <div>
        <h4>Per day</h4>
        <label>
            <span>Select a day</span>
            <input type="date">
        </label>
        <p>Number of Orders: 5</p>
        <p>Sold seats: 7</p>
        <p>Money earned: 69.00PLN</p>
        <p>Numbers of screenings: 3</p>
    </div>
  <div>
      <h4>Per month</h4>
      <label>
          <span>Select a month</span>
          <input type="month">
      </label>
      <p>Number of Orders: 5</p>
      <p>Sold seats: 7</p>
      <p>Money earned: 69.00PLN</p>
      <p>Numbers of screenings: 3</p>
  </div>


</body>
</html>