<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <h3>Hello, <span th:text="${session.user.getName()}"></span>!</h3>
    <a href="/movies">Repertuar</a>
    <a href="/orders">My Orders</a>
    <a href="/cart">Cart</a>
    <a href="/logout">Log out</a>
</nav>

<h1>Cart</h1>
<h3>Here are your reservations:</h3>
<div th:if="${session.order != null}">
    <div th:each="reservation : ${session.order.getReservations()}">
        <ul>
            <li th:text="${reservation.getId()}"></li>
            <li th:text="${reservation.getSeansId()}"></li>
            <li th:text="${reservation.getSeans().getDateAndTime()}"></li>
            <li th:text="${reservation.getReservedSeats()}"></li>
            <li>
                <button>Change Seats</button>
            </li>
        </ul>
    </div>

    <form method="get" action="/payment">
        <input type="hidden" name="orderId" th:value="${session.order.orderId}" />
        <button> Confirm Order</button>
    </form>

    <form action="/clearCart" method="get">
        <button type="submit">Clear cart</button>
    </form>
</div>



</body>
</html>