<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
<nav>
    <h3>Hello, <span th:text="${session.user.getName()}"></span>!</h3>
    <a class="nav-element" href="/movies">Repertuar</a>
    <a class="nav-element" href="/orders">My Orders</a>
    <a class="nav-element" href="/cart">Cart</a>
    <a class="nav-element" href="/logout">Log out</a>
</nav>

<h1>Cart</h1>

<div th:if="${session.order != null}">
    <h3>Here are your reservations:</h3>
    <div th:each="reservation : ${session.order.getReservations()}">
        <ul>
            <li th:text="${reservation.getSeans().getMovie().getTitle()}"></li>
            <li th:text="'Date: '+ ${reservation.getSeans().getDateAndTime()}"></li>
            <li th:text="'Your seats: '+${reservation.getReservedSeats()}"></li>
            <li>
                <form method="get" th:action="'/seats/'+${reservation.getSeans().getSeansId()}+'/edit'">
                    <input type="hidden" name="previousSeats" th:value="${reservation.getReservedSeats()}" />
                    <button type="submit">Change Seats</button>
                </form>
            </li>
            <li>
                <button disabled>Remove Reservation</button>
            </li>
        </ul>
    </div>

    <form method="get" action="/payment">
        <input type="hidden" name="orderId" th:value="${session.order.orderId}" />
        <button> Confirm Order</button>
    </form>

    <form action="/clearCart" method="post">
        <button type="submit">Clear cart</button>
    </form>
</div>

<div th:if="${session.order == null}">
    <h1>Your cart is empty.</h1>
</div>



</body>
</html>