<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <title>Cinema Tricity</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
<body>

<nav th:fragment="navbar" th:if="${session.user}">
    <h3>Hello, <span th:text="${session.user.getName()}"></span>!</h3>
    <a class="nav-element" href="/movies">Repertuar</a>
    <a class="nav-element" href="/orders">My Orders</a>
    <a class="nav-element" href="/cart">Cart</a>
    <a class="nav-element" href="/logout">Log out</a>
</nav>

<nav th:fragment="navbar-admin" th:if="${session.user}">
    <h3>Hello, <span th:text="${session.user.getName()}"></span>!</h3>
    <h5>YOU HAVE ADMINISTRATOR ACCESS</h5>
    <a class="nav-element" href="/admin">Admin Panel</a>
    <a class="nav-element" href="/web-logout">Log out</a>
</nav>

<footer th:fragment="footer">
    <span>Cinema Tricity Spring App, created by Karol Krawczykiewicz 2023</span>
</footer>

</body>
</html>