<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
    <div>
        <h1>Welcome to Cinema Tricity!</h1>
        <p>
        Explore the magic of cinema in our modern and welcoming entertainment hub. Join us for unforgettable screenings filled with emotions and cinematic wonders. Check out our current lineup, experience top-notch audio and visuals, and reserve your tickets online. Get ready for a cinematic adventure that will surely captivate you!
        </p>
    </div>
    <div>
        <button type="button" th:onclick="window.location.href='/login'">Log in</button>
        <button type="button" th:onclick="window.location.href='/register'">Register</button>
    </div>
</body>
</html>