<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html-head"></head>
<body>
<div class="page">
    <div>
        <h1>Welcome to Cinema Tricity!</h1>
        <p>
        Explore the magic of cinema in our modern and welcoming entertainment hub. Join us for unforgettable screenings filled with emotions and cinematic wonders. Check out our current lineup, experience top-notch audio and visuals, and reserve your tickets online. Get ready for a cinematic adventure that will surely captivate you!
        </p>
    </div>
    <div>
        <button type="button" th:onclick="window.location.href='/login'">Log in</button>
        <button type="button" th:onclick="window.location.href='/register'">Register</button>
    </div>
    <div id="ad">
        <marquee behavior="scroll" scrollamount="20" direction="left">TICKET ONLY 20.99 PLN !!!</marquee>
    </div>
    <div>
        <h2>Currently showing:</h2>
        <div id="posters">
            <div th:each="movie, iter: ${movies}">
                <img th:src="${movie.getPhotos()[0]}" alt="Movie poster" class="pnoto">
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>