<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="page">
    <h1>Screenings</h1>
    <p>Select your own date or one of the ones below.</p>
    <div>
        <a th:href="@{/movies(date='2024-01-29')}">Monday (29.01)</a>
        <a th:href="@{/movies(date='2024-01-30')}">Tuesday (30.01)</a>
        <a th:href="@{/movies(date='2024-01-31')}">Wednesday (31.01)</a>
        <a th:href="@{/movies(date='2024-02-01')}">Thursday (01.02)</a>
        <a th:href="@{/movies(date='2024-02-02')}">Friday (02.02)</a>
        <a th:href="@{/movies(date='2024-02-03')}">Saturday (03.02)</a>
        <a th:href="@{/movies(date='2024-02-04')}">Sunday (04.02)</a>
    </div>
    <br>
    <div>
        <form method="get" action="/movies">
            <label for="date">Choose other date</label>
            <input type="date" required name="date" id="date">
            <button>Show</button>
        </form>
    </div>
        <h1 th:text="'Screenings for ' + ${selectedDate}"></h1>

        <table th:if="${seances.size()>0}">
            <thead>
                <tr>
                    <td>Movie</td>
                    <td>Hour</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="screening : ${seances}">
                    <td>
                        <a th:href="@{/movies/details/{id}(id=${screening.getMovie().getId()})}" th:text="${screening.getMovie().getTitle()}"></a>
                    </td>
                    <td th:text="${screening.getDateAndTime().toLocalTime()}">Movie Hour</td>

                    <td>
                        <a th:href="@{'/seats/' + ${screening.getScreeningId()}}" >Buy a ticket</a>
                    </td>

                </tr>
            </tbody>
        </table>
        <div th:if="${seances.size()==0}">
            <p>There are no screenings for this day. Checkout other dates!</p>
        </div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>