<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div class="page">
    <div th:replace="fragments :: navbar"></div>

    <div th:if="${movie}">
        <h1 th:text="${movie.getTitle()}"></h1>
       <iframe width="560" height="315" th:src="${movie.getTrailerLink()}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p th:text="'Year: ' +${movie.getYear()}"></p>
        <p th:text="'Genre: ' +${movie.getGenre()}"></p>
        <p th:text="'Director: ' +${movie.getDirector()}"></p>
        <p th:text="'Cast: ' +${movie.getActors()}"></p>
        <div th:each="photo, iter: ${movie.getPhotos()}">
            <img th:src="${photo}" alt="movie photo" class="photo-details">
        </div>

    </div>
    <div th:if="${error}">
        <h1 th:text="${error.toUpperCase()}"></h1>
    </div>
</div>
</body>
</html>