<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repertuar</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        function logout() {
                window.location.href = '/';
        }
    </script>
</head>
<body>

    <div>
<!--        <nav>-->
<!--            <h1 th:text="'Logged as: ' +${user.getName()}"></h1>-->
<!--            <button onclick="logout()">Log out</button>-->
<!--        </nav>-->
        <h1>Movies page</h1>
        <div>
            <a th:href="@{/movies(date='2024-01-29')}">Monday (29.01)</a>
            <a th:href="@{/movies(date='2024-01-30')}">Tuesday (30.01)</a>
            <a th:href="@{/movies(date='2024-01-31')}">Wednesday (31.01)</a>
            <a th:href="@{/movies(date='2024-02-01')}">Thursday (01.02)</a>
            <a th:href="@{/movies(date='2024-02-02')}">Friday (02.02)</a>
            <a th:href="@{/movies(date='2024-02-03')}">Saturday (03.02)</a>
            <a th:href="@{/movies(date='2024-02-04')}">Sunday (04.02)</a>
        </div>
        <h1 th:text="'Screenings for ' + ${selectedDate}"></h1>


        <table>
            <thead>
                <tr>
                    <td>Movie</td>
                    <td>Hour</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="seance : ${seances}">
                    <td>
                        <a th:href="@{/movies/details/{id}(id=${seance.getMovie().getId()})}" th:text="${seance.getMovie().getTitle()}"></a>
                    </td>
                    <td th:text="${seance.getDateAndTime().toLocalTime()}">Movie Hour</td>
                    <td>
                        <button> Buy a ticket </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>