<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div class="page">
    <h2>Register</h2>

    <form action="/register" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"  required />
        <br/>

        <label for="passwordConf">Confirm password:</label>
        <input type="password" id="passwordConf" name="passwordConf"  required />
        <br/>

        <button type="submit">Register</button>
    </form>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>