<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="page">
    <h2 th:text="${screening.getMovie().getTitle()}"></h2>
    <h3 th:text="${#temporals.format(screening.getDateAndTime(), 'dd-MM-yyyy HH:mm')}"></h3>

    <form method="post" action="/editReservation">

        <div class="row" th:each="row: ${screening.getAllSeats()}">
        <span th:each="seat : ${row}">
            <span th:if="${screening.takenSeatsWithoutId != null and screening.getAllSeats() != null}">
                <span th:if="${#lists.contains(screening.takenSeatsWithoutId, seat)}">X</span>
                <span  th:unless="${#lists.contains(screening.takenSeatsWithoutId, seat)}">
                    <input th:if="${#lists.contains(previousSeats,seat)}"  type="checkbox" name="seat" th:value="${seat}" checked>
                    <input th:if="${!#lists.contains(previousSeats,seat)}"  type="checkbox" name="seat" th:value="${seat}">
                </span>


            </span>
        </span>
        </div>
        <input type="hidden" name="screeningId" th:value="${screening.getScreeningId()}" />


        <button type="submit">Save</button>
    </form>
    <div th:if="${error}" class="error">
        <h1 th:text="${error}"></h1>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>