<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html-head"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="page">
    <h1> Your orders</h1>
    <div th:if="${orders.size() > 0}">
        <ol>
            <li th:each="order : ${orders}">
                <h2 th:text="'Order number: '+${order.getOrderId()}"></h2>
                <p th:text="'Price:' +${#numbers.formatDecimal(order.getPrice(), 1, 2, 'COMMA')}+'PLN'"></p>
                <p th:text="'Date: '+${#temporals.format(order.getDate(), 'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="'Status: '+ ${order.getStatus()}"></p>
                <div th:if="${order.status == T(com.tje.cinema.domain.Order$OrderStatus).NEW}">
                    <form th:action="'/payment'" method="get">
                        <input type="hidden" name="orderId" id="orderId" th:value="${order.getOrderId()}">
                        <button type="submit">PAY</button>
                    </form>
                </div>

                <p th:text="'Tickets:'"></p>
                <ol >
                    <li th:each="reservation : ${order.getReservations()}">
                        <p th:text="'Movie: '+${reservation.getSeans().getMovie().getTitle()}"></p>
                        <p th:text="'Date and time: '+${#temporals.format(reservation.getSeans().getDateAndTime(), 'dd-MM-yyyy HH:mm')}"></p>
                        <p th:text="'Seats: '+${reservation.getReservedSeats()}"></p>
                    </li>

                </ol>
            </li>
        </ol>
    </div>
<!--    <div th:if="${orders.size == 0}">-->
<!--        <p>It looks that You don't have any orders yet. Go to Repertuar page to find some cool new movies!</p>-->
<!--    </div>-->
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>