nav{
    background-color: #F5821E;
}
.error{
   color: red;
}

.nav-element{
    margin-left: 2rem;
}

.grid-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.pnoto{
    max-width: 150px;
    height: fit-content;
}
#posters {
    display: flex;
    flex-direction: row;
}

.photo-details{
    max-width: 640px;
    height: fit-content;
}


table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.row {
    margin-bottom: 10px;
}

.page{
    min-height: 100vh;
}