body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #F5821E;
}

nav>h3{
    margin-top: 0;
    padding-top: 0;
}

footer{
    background-color: bisque;
    text-align: center;
    font-weight: lighter;
    padding: 0;
}

.page{
    min-height: 100vh;
    margin-left: 5px;
    margin-right: 5px;
}

.error{
   color: red;
    font-weight: bold;
}

.nav-element{
    margin-left: 2rem;
}

.grid-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.pnoto{
    max-width: 150px;
    height: fit-content;
}
#posters {
    display: flex;
    flex-direction: row;
}

.photo-details{
    max-width: 640px;
    height: fit-content;
}


table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.row {
    margin-bottom: 10px;
}


.screen{
    background-color: black;
    color: azure;
    width: 270px;
    height: 100px;

}
